@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&family=Libre+Caslon+Display&family=Montserrat:wght@100&family=Sansita&display=swap');

:root {
    --cor-de-fundo: #823736;
    --cor-de-fundo-secundaria: #7C8177;
    --branco-principal: #FEFDFD;
    --branco-puro: #FFFFFF;
    --cabecalho-hover: #CAD4C0;
    --cabecalho-active: #99887A;
    --texto-destaque: #EDECE4;
    --marrom: #53473D;
    --marrom-secundario: #656A60;
    --bege-medio: #B7BDB1;
    --bege-claro: #ECEEE5;
    --fonte-titulo: 'Bodoni Moda';
    --fonte-primaria: 'Libre Caslon Display';
    --fonte-secundaria: 'Sansita';
    --fonte-terciaria: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--branco-puro);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cabecalho-hover);
}

.cabecalho__menu__link:active {
    color: var(--cabecalho-active);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 77px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 5.75rem;
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__destaque {
    color: var(--texto-destaque);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__linkedin {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--marrom);
    border: 7px solid var(--branco-principal);
    border-radius: 70px;
    width: 45%;
    text-align: center;
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    color: var(--branco-puro);
    padding: 30px 0;
    text-decoration: none;
}

.apresentacao__links__linkedin:hover {
    color: var(--marrom-secundario);
    border-color: var(--bege-medio);
    background-color: var(--branco-principal);
}

.apresentacao__links__linkedin:active {
    color: var(--marrom-secundario);
    border-color: var(--bege-medio);
    background-color: var(--bege-claro);
}

.apresentacao__links__email {
    display: flex;
    justify-content: center;
    background-color: var(--marrom-secundario);
    border: 7px solid var(--branco-principal);
    border-radius: 70px;
    width: 45%;
    text-align: center;
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    color: var(--branco-puro);
    padding: 30px 0;
    text-decoration: none;
}

.apresentacao__links__email:hover {
    color: var(--marrom-secundario);
    border-color: var(--bege-medio);
    background-color: var(--branco-principal);
}

.apresentacao__links__email:active {
    color: var(--marrom-secundario);
    border-color: var(--bege-medio);
    background-color: var(--bege-claro);
}

.apresentacao__imagem {
    width: 45%;
}

.rodape {
    padding: 24px;
    color: var(--branco-principal);
    background-color: var(--cor-de-fundo-secundaria);
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: 1.25rem;
}

@media (max-width: 1230px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__conteudo {
        width: 100%;
        justify-content: center;
    }

    .apresentacao__conteudo__titulo {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 720px) {

    .apresentacao__conteudo__titulo {
        display: flex;
        justify-content: center;
        font-size: 4.25rem;
    }

    .apresentacao__links {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}
